  /* inline css h1 style 
    style internal css
    link- external css  */
    
/* css variable */
:root{ 
    --meracolour : rgb(125, 190, 125);
    --xsize : 50px;
    --msize : 50px;
    --lsize : 50px;
    /* global variables */
}
h1,p,div{
   background-color: var(--meracolour);
    background-color: green;
    border: green;
    font-size:  var(--size);
}
#head{
    color: chocolate;
}
div{
    color: var(--meracolour)
}
p{
    /* local variables */
    --color : blue;
    color: var(--color);
    border-color: var(--color));
    background-color: var(--color);
}