td{
    width: 40px;
    height: 40px;
}
table{
    border-collapse: collapse;
}
input:focus{
    background-color: black;
    color: rgb(0, 0, 0);
  
}
legend{
    border: 2px solid black;
    background-color: aqua;
}