h1{
    color: rgb(211, 54, 23);
   /* font-weight: 300;
   font-style: italic;
   font-weight: lighter ;
   font-stretch: expanded; */
  letter-spacing: 10px;
}
/* h1:hover{
    color: rgb(97, 114, 227);
    cursor: pointer;
} */
